body{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: rgb(13, 66, 112);
    background-image: url('wallpaper.png');
}

table {
    table-layout: fixed;
    width: 100%;
    empty-cells: show;
    background-color: white;
    color: rgb(38, 86, 86);
    padding: 2em;
  }

#employeeInformation tr td {
    outline: thin solid;
    empty-cells: show;
}

#employeesList{
    text-indent: 3%;
}

.columnHeadings {
    background-color: rgb(52, 65, 142);
    color: white;
    text-indent: 3%;
}

.red-background{
    background-color: rgb(228, 153, 153);
}

#tableFooter{
    background-color:  rgb(241, 241, 241);
}

#submitButton{
    background-color: rgb(38, 86, 86);
    color: rgb(255, 255, 255);
}

.input {
    background-color: rgb(241, 241, 241);
    font-family:'Times New Roman', Times, serif;
    text-indent: 3%;
}

.deleteButton {
    background-color: rgb(38, 86, 86);
    color: rgb(255, 255, 255);
}